[Desktop Entry]
Categories=Utility;Games;
Type=Application
Exec=@APPLICATION_EXECUTABLE@
Name=Cavoke
Comment=Cavoke
Icon=cavoke-icon
GenericName=Cavoke Client
Keywords=@APPLICATION_NAME@;cavoke;games;
X-GNOME-Autostart-Delay=3
MimeType=application/vnd.@APPLICATION_EXECUTABLE@;
