[Desktop Entry]
Categories=Utility;Games;
Type=Application
Exec=@APPLICATION_EXECUTABLE@
Name=Cavoke
Comment=Cavoke
GenericName=Cavoke Client
Icon=@APPLICATION_ICON_NAME@
Keywords=@APPLICATION_NAME@;cavoke;games;
X-GNOME-Autostart-Delay=3
MimeType=application/vnd.@APPLICATION_EXECUTABLE@;
