[submodule "client/httpclient"]
	path = client/httpclient
	url = https://github.com/cavoke-project/cavoke-apiary
[submodule "third_party/drogon"]
	path = third_party/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git