[submodule "server/third_party/drogon"]
	path = server/third_party/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "server/third_party/json"]
	path = server/third_party/json
	url = https://github.com/nlohmann/json.git
